@media (max-width: 414px) {

  #linkedin {
    position: relative;
    left: 200px;
    bottom: 37px;
  }

  #fb {
    position: relative;
    left: 0px;
    bottom: 74px;
  }

  #contact {
    max-height: 100px;
    max-width: 414px;
  }

nav {
  background-color: #FFFFFF;
  max-width: 150px;
  max-height: 100px;
  border: 3px solid rgb(67,75,86);
}

  #why{
    font-family: "Handlee", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: 2;
  }
}
