@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Oxygen:wght@300;400;700&display=swap');

body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: rgb(157,162,174);
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;

  max-width: 960px;
  margin: 0 auto;
}

header, footer {
  grid-column: 1 / -1;
  padding-left: 25px;
  background-color: #FFFFFF;
  border: 3px solid rgb(41,50,66);
}

header {
  margin-top: 20px;
}

footer {
  margin-bottom: 20px;
}

a {
  padding: 2px 1px 0;
}

a:hover {
  background-color: rgb(179,161,136);
}

a:link {
  color: rgb(179,161,136);
}

a:visited {
  color: rgb(41,50,66);
}

a:focus {
  border-bottom: 1px solid;
  background: #FFFFFF;
}

a:active {
  background: #FFFFFF;
  color: rgb(41,50,66);
}

h1 {
  color: rgb(41,50,66);
  font-family: "Handlee", "Helvetica", "Arial", sans-serif;
  font-style: bold;
  margin-top: 30px;
  font-size: 30px;
}

h2 {
  color: rgb(41,50,66);
  font-family: "Oxygen", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

h3 {
  color: rgb(41,50,66);
}

p {
  font-family: "Oxygen", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

section {
  margin-bottom: 16px;
  padding: 20px;
  background-color: #FFFFFF;
  border: 3px solid rgb(45,45,43);
}

.famous {
  font-family: "Oxygen", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 18px;
  position: relative;
  left: 150px;
  top: 10px;
  line-height: 1.5;
}

.intro {
  position: relative;
  right:90px;
}

.about {
  position: relative;
  right: 90px;
}

.caption {
  font-size: 10px;
}

nav a {
  color: #000000;
  margin: 3px;
}

nav {
  background-color: #FFFFFF;
  max-width: 150px;
  max-height: 100px;
  border: 3px solid rgb(67,75,86);
  position: sticky;
}

img {
  border: 6px solid rgb(164,163,161);
}

#profile {
  position: relative;
  left: 100px;
}

#wildlife {
  max-height: 320px;
}

#leopard {
  position: relative;
  left: 325px;
  bottom: 273px;
}

#lion {
  position: relative;
  right: 20px;
}

.self {
  max-width: 600px;
  position: relative;
  left: 50px;
}

.hysteria {
  max-width: 600px;
  position: relative;
  left: 50px;
}

#first-source {
  font-size: 10px;
  position: relative;
  top: 10px;
}

#why {
  font-family: "Oxygen", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 2;
  position: relative;
  left: 100px;
}

#romantic {
  font-size: 10px;
  position: relative;
  top: 10px;
}

#linkedin {
  position: relative;
  left: 200px;
  bottom: 37px;
}

#fb {
  position: relative;
  left: 400px;
  bottom: 74px;
}

#contact {
  max-height: 100px;
}
