@import "ahaas195.github.io/css/jost/static/jost-bold.ttf";
body {
  font-family: "jost", "Arial", sans-serif;
  background-color: rgb(150,147,158);
}

a: hover {
  background-color: rgba(255, 0, 0, 0.5);
}

h1 {
  color: rgb(255,255,255);
}

h2, h3 {
  color:rgb(106,90,205)
}

p, li {
  line-height: 1;
}

ul > li {
  list-style-type: circle;
}

nav a {
  color: rgb(255,240,235);
}

section {
  margin-bottom: 16px;
  padding: 16px;
  background-color: rgb(239,239,238);
  border: 3px solid rgb(103,105,159);
}

footer a {
  color: #000;
}

#map {
  background-color: rgb(206,206,208);
  border: 3px solid rgb(69,105,159);
}
