body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: rgb(157,162,174);
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;

  max-width: 960px;
  margin: 0 auto;
}

header, footer {
  grid-column: 1 / -1;
  padding-left: 25px;
  background-color: #FFFFFF;
  border: 3px solid rgb(41,50,66);
}

header {
  margin-top: 20px;
}

footer {
  margin-bottom: 20px;
}

a {
  padding: 2px 1px 0;
}

a:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

a:link {
  color: rgb(255, 0, 0);
}

a:visited {
  color: rgb(255, 0, 0);
}

a:focus {
  border-bottom: 1px solid;
  background: rgb(255, 0, 0);
}

a:active {
  background: #265301;
  color: rgb(255, 0, 0);
}

h1 {
  color: rgb(41,50,66);
  margin-top: 30px;
  font-size: 30px;
}

h2 {
  color: rgb(41,50,66);
  font-size: 20px;
}

section {
  margin-bottom: 16px;
  padding: 20px;
  background-color: #FFFFFF;
  border: 3px solid rgb(45,45,43);
}

.intro {
  position: relative;
  right:90px;
}

.about {
  position: relative;
  right: 90px;
}

.caption {
  font-size: 10px;
}

nav a {
  color: #000000;
  margin: 3px;
}

nav {
  background-color: #FFFFFF;
  max-width: 150px;
  max-height: 100px;
  border: 3px solid rgb(67,75,86);
}

img {
  border: 6px solid rgb(164,163,161);
}
