
body {
  font-family: "Helvetica", "Arial", sans-serif;
}

a: hover {
  background-color: rgba(255, 0, 0, 0.5);
}

h1 {
  color: rgb(0, 51, 0);
}

h2, h3 {
  color:rgb(103,105,159)
}

p, li {
  line-height: 1;
}

ul > li {
  list-style-type: circle;
}

nav a {
  color: rgb(207,181,59);
}

section {
  margin-bottom: 16px;
  padding: 16px;
  background-color: rgb(192,192,192);
}

footer a {
  color: #000;
}

#map {
  background-color: rgba(69,105,159,0.15);
  border: 1px solid rgb(69,105,159);
}
